.logout-button {
  color: #303150;
  font-family: 'Roboto';
  font-size: 12px;
  border: none;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #f8fafc;
  border-radius: 12px;
}
